<div class="container-fluid">
  <div class="row w-100">
    <div *ngFor="let course of courses" class="col-md-4">
      <div class="card my-3">
        <img
          class="card-img-top"
          src="../../assets/video.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <div class="card-body-options">
            <div
              class="card-body-option card-body-option-share m-4"
              (click)="deleteCourse(course.id)"
            >
              <i class="bi bi-trash3-fill"></i>
            </div>
            <div
              class="card-body-option card-body-option-share"
              (click)="editCourse(course)"
            >
              <i class="bi bi-pen-fill ml-2"></i>
            </div>
          </div>
          <h5 class="card-title">{{ course.description }}</h5>
          <p class="card-text">{{ course.subject }}</p>
          <ul class="card-body-stars u-clearfix">
            <li>
                <i class="bi bi-star-fill p-1"></i>
                <i class="bi bi-star-fill p-1"></i>
                <i class="bi bi-star-fill p-1"></i>
                <i class="bi bi-star-fill p-1"></i>
                <i class="bi bi-star-fill p-1"></i>
            </li>
        </ul>
          <a (click)="openStudentsModal(course)" 
            class="btn btn-primary card-button card-button-cta">
            Matriculas</a>
        </div>
      </div>
    </div>
  </div>

  <div class="floating-action-button u-flex-center" (click)="openModal()">
    <i class="bi bi-plus-circle-fill"></i>
  </div>
</div>

<ng-template #addModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Curso</h4>
  </div>
  <form [formGroup]="courseForm" (ngSubmit)="addCourse()">
    <div class="modal-body">
      <div>
        <label for="description">Descrição:</label>
        <input type="text" name="description" formControlName="description" />

        <label for="subject">Resumo:</label>
        <input type="text" name="subject" formControlName="subject" />
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-light">Enviar</button>
    </div>
  </form>
</ng-template>

<ng-template #studentsModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Alunos</h4>
  </div>
  <div class="modal-body">
    <app-multiple-select-list
      [datas]="students"
      [selectedDatas]="currentCourse.students"
      [titleIndex]="'name'"
      (sentEmitter)="studentsSave($event)"
      (cancelEmitter)="studentsModalInstance.close()"
    ></app-multiple-select-list>
  </div>

  <div class="modal-footer"></div>
</ng-template>
