<div class="col">
  <form>
    <input type="text" (input)="filterItems($event)" 
      placeholder="Pesquisar" autofocus>
  </form>

  <div class="row card my-3 mx-1" *ngFor="let element of filteredDatas">
    <div class="task-list current">
      <ul>
        <li>
          <div class="checkbox">
            <div class="check">
              <input
                type="checkbox"
                name="task_00"
                [(ngModel)]="element.isSelected"
              />
              <div class="check-container">
                <div class="check-off"></div>
                <div class="check-on"><i></i></div>
              </div>
            </div>
            <div class="label">
              <mark
                ><p>{{ element.title }}</p></mark
              >
              <br />
              <p class="p-2 text-muted">{{ element?.subject }}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button (click)="send()" class="btn btn-light float-right m-1">Salvar</button>
      <button (click)="cancel()" class="btn btn-light float-right m-1">Cancelar</button>
    </div>

  </div>
</div>
