<div class="col">
    <div class="row" *ngFor="let element of data">
        <div class="card">
            <div class="col">
                <p>{{element.title}}</p>
            </div>
            <div class="col">
                <input type="checkbox" [(ngModel)]="element.isSelected">
            </div>


        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <button (click)="cancel()">Cancelar</button>
        </div>

        <div class="col">
            <button (click)="send()">Salvar</button>
        </div>
    </div>
</div>